<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{title}}{% endblock %}</title>
  <link rel="stylesheet" href="{{ base_path }}static/style.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
  <nav>
    <a href="{{ base_path }}index.html">🏠 Home</a>
    <a href="{{ base_path }}visualizations.html">📊 Visualizations</a>
    <a href="{{ base_path }}network.html">🕸️ Instance Network</a> </nav>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
